@*
    ViewData["Title"] = "Welcome";
*@
<h1> @ViewData["Title"]</h1>

<p>ShiSida Engineering is a family business that started in early 1966 by Shiferaw Sida in the back of his parents house. ShiSida Engineering grew over the years and is now one of the top providers of plain sheet metal, wood and building materials in Addis Ababa.</p>
<h2></h2>